*{
	font-family: 'Roboto', sans-serif;
}
html,body{
    height: 100%;
}
body{
    background-color: #fff;
}
a{
	text-decoration: none;
}

/* Header */
header{
	background-color: #78c17d;
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	padding: 0.5rem;
	height: 50px;
}
header span:nth-child(1){
	justify-self: flex-start;
}
header span:nth-child(3){
	justify-self: flex-end;
}
header span:nth-child(3) i:nth-child(2){
	padding-left: 1.5rem;
}
header i{
	font-size: 2rem;
	color: white;
}
header div.menu{
	width: 0%;
	height: 100%;
	position: fixed;
	z-index: 1;
	background-color: rgba(182,246,187,0.9);
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	transition: 0.5s;
}
header div.menu a{
	align-self: flex-end;
	padding: 1rem;
}
header div.menu a i{
	color: black;
	font-size: 2.5rem;
}
header div.menu ul{
	display: none;
}
header div.menu ul li{
	border-top: 1px solid black;
}
header div.menu ul li a{
	font-size: 1.5rem;
	color: black;
	padding: 1rem;
	display: block;
	transition: 0.3s;
}
header #menuUser{
    display: none;
}
/* Fin Header */

/* Búsqueda */
div.search{
	height: 50px;
	padding: 0.5rem;
	display: none;
	background-color: #aaeeaf;
	align-items: center;
}
div.search i{
	color: #78c17d;
	font-size: 1.5rem;
}
div.search form{
	padding-left: 1rem;
}
div.search form, div.search form input{
	width: 100%;
	height: 100%;
	font-size: 1.3rem;
	background-color: #aaeeaf;
	color: #78c17d;
	border: 0;
}
/* Fin Búsqueda */

/* Section busquedas */
.busquedas{
    display:none;
}
.busquedas article{
	display: grid;
	grid-template: 1fr / 130px 1fr;
	align-items: center;
	justify-items: center;
	padding: 1rem 0;
	border-bottom: 1px solid #78c17d;
}
.busquedas article figure{
	height: 100px;
	width: 100px;
}
.busquedas article figure img{
	width: 100%;
	height: 100%;
	border-radius: 3px;
}
.busquedas article ul{
	justify-self: flex-start;
	align-self: flex-start;
	padding-left: 1.3rem;
}
.busquedas article ul li{
	padding-bottom: 0.5rem;
	font-size: 1.2rem;
	color: #78c17d;
}
/* Fin Section busquedas */

/* Section login */
.login h3{
    padding-top: 2rem;
    text-align: center;
    color: #78c17d;
    font-size: 1.5rem;
}
.login form{
    padding: 1rem;
}
.login form ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login form ul li{
    padding-top: 1rem;
    width: 100%;
}
.login form ul li input{
    border: 1px solid #83ce89;
    border-radius: 3px;
    width: 100%;
    padding: 1rem 0;
}
.login form ul li:nth-child(3) input{
    background-color: #b6f6bb;
    color: darkgreen;
}
.login p{
    text-align: center;
    font-size: 0.8rem;
    color: #78c17d;
}
.login p a{
    text-decoration: underline;
}
.login #errorLogin{
    display:none;
    justify-content:center;
    padding-top: 1rem;
}
.login #errorLogin p{
    padding: 1rem;
    border: 1px solid red;
    border-radius: 3px;
    background-color: #d9534f;
    color: white;
}
/* Fin Section login */

/* Section regsiter */
.register{
    display: none;
}
.register h3{
    padding-top: 2rem;
    text-align: center;
    color: #78c17d;
    font-size: 1.5rem;
}
.register form{
    padding: 2rem;
}
.register form ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register form ul li{
    padding-top: 1rem;
    width: 100%;
    display: flex;
}
.register form ul li span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: #b6f6bb;
    border: 1px solid #83ce89;
    border-right: 0.5px;
    border-radius: 3px 0px 0px 3px;
}
.register form ul li span i{
    font-size: 1.5rem;
    color: #78c17d;
}
.register form ul li input{
    border: 1px solid #83ce89;
    border-radius: 0px 3px 3px 0px;
    border-left: 0.5px;
    width: 100%;
    padding: 1rem 0;
}
.register form ul li:nth-child(4) input{
    background-color: #b6f6bb;
    color: darkgreen;
    border: 1px solid #83ce89;
    border-radius: 3px;
}
.register #errorSignIn{
    display: none;
    justify-content:center;
    padding-top: 1rem;
}
.register #errorSignIn p{
    padding: 1rem;
    border: 1px solid red;
    border-radius: 3px;
    background-color: #d9534f;
    color: white;
    margin: 0 1rem;
}
/* Fin Section login */

/* Section data */
.data{
    display: none;
    padding: 1.5rem;
}
.data ul li{
    padding-top: 1rem;
}
.data ul li:nth-child(1){
    display:flex;
    justify-content: center;
    align-items: center;
}
.data ul li figure{
    width: 150px;
    height: 150px;
}
.data ul li figure img{
    border-radius: 50%;
}
.data ul li h5{
    color: #78c17d;
    font-size: 1.5rem;
    border-bottom: 1px solid #83ce89;
}
.data ul li p{
    padding-top: 0.5rem;
    color: #9add9f;
}
/* Fin Section data */ 

/* Section quejas */
.quejas{
    display:none;
}
.quejas h3{
    padding-top: 2rem;
    text-align: center;
    color: #78c17d;
    font-size: 1.5rem;
}
.quejas form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.quejas form input{
    border: 0;
    border-bottom: 1px solid #83ce89;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.quejas form input:nth-child(2){
    background-color: #b6f6bb;
    color: darkgreen;
    border: 1px solid #83ce89;
    border-radius: 3px;
}
/* Fin Section quejas */
















